name: Pull Request Help Handler

on:
  repository_dispatch:
    types:
      - help-command

jobs:
  help:
    name: Run help
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Update comment
        uses: peter-evans/create-or-update-comment@c9fcb64660bc90ec1cc535646af190c992007c32
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
          comment-id: ${{ github.event.client_payload.github.payload.comment.id }}
          body: |
            > | Command | Description |
            > | ------- | ----------- |
            > | /test <all\|full-aws\|full-azure\|full-google\|test case name...> [destroy=false] | Run the Terraform test workflow on the modules in the tests/ directory in each of the terraform-aws-terraform-enterprise, terraform-azurerm-terraform-enterprise, and terraform-google-terraform-enterprise module repositories. Unnamed arguments can be "all" to run all test cases, full-[aws\|azure\|google] to run all cloud specific cases, or specific test case names to only run selected cases. The named argument "destroy=false" will disable the destruction of test infrastructure for debugging purposes. |
            > | /destroy <all\|full-aws\|full-azure\|full-google\|test case name...> | Destroy any resources that may still be in Terraform state from previous tests. Unnamed arguments can be "all" to destroy all resources from all test cases, full-[aws\|azure\|google] to destroy all resources from cloud specific cases, or specific test case names to only destroy selected test case resources. |
            > | /help | Shows this help message |

            ## Test Case Names
            
            ### AWS

            * aws-active-active-rhel7-proxy
            * aws-private-active-active
            * aws-private-tcp-active-active
            * aws-public-active-active
            * aws-standalone-vault

            ## AzureRM

            * azurerm-private-active-active
            * azurerm-private-tcp-active-active
            * azurerm-public-active-active
            * azurerm-standalone-external
            * azurerm-standalone-mounted-disk

            ## Google

            * google-private-active-active
            * google-private-tcp-active-active
            * google-public-active-active
            * google-standalone-external-rhel8-worker
            * google-standalone-mounted-disk
          reaction-type: confused
